.cat-item-container{
flex: 1;
margin: 3px;
height: 70vh;
position: relative;
}


.image-container1{
width: 100%;
height: 100%;
object-fit: cover;
}
@media screen and (max-width: 380px) {
    .image-container1 {
    height: 20vh;
    
    }
  }

.info-container1{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.title-h1{
color: white;
margin-bottom: 20px;
}

.button-shop{
border: none;
padding: 10px;
background-color: white;
color: gray;
cursor: pointer;
font-weight: 600;
transition: all 0.5s ease;
}

.button-shop:hover{
    background-color: rgb(89, 85, 85);
    transform: scale(1.1);
    color: white;
}