.navbar {
    height: 60px;
    
    
}
@media screen and (max-width: 380px) {
    .navbar {
      height: 50px;
    }
  }

    


.wrapper{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
@media screen and (max-width: 380px) {
    .wrapper {
    padding: 10px 0px;
    }
  }

.left{
    flex: 1;
    display: flex;
    align-items: center;
}

.center{
    flex: 1;
    text-align: center;
}

.right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@media screen and (max-width: 380px) {
    .right {
    flex: 2;
    justify-content: center;
    
    }
  }

.language{
    font-size: 14px;
    cursor: pointer;
}
@media screen and (max-width: 380px) {
    .language {
    display: none;
    }
  }

.searchIcon{
    cursor: pointer;
}
.navbar-title{
    font-weight: bold;
}

@media screen and (max-width: 380px) {
    .navbar-title {
    font-size: 24px;
    
    }
  }

.searchContainer{
    border: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    margin-left: 25px;
  padding: 5px;
}

.input{
    border: none;
}
@media screen and (max-width: 380px) {
    .input {
    width: 50px;
    
    }
  }


.menuItem{
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
}
@media screen and (max-width: 380px) {
    .menuItem {
    font-size: 12px;
    margin-left: 10px;
    
    }
  }